*.pyc
__pycache__/
*.sqlite3
db.sqlite3
venv/
.env
google_credentials.json
credentials.json
google_token.json
media/products/*
media/users/*
media/company/*
staticfiles/
*.log
.DS_Store
.idea/
.vscode/

logs/
*.log
server.log
